# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY
	default "ensemble" if SOC_FAMILY_ENSEMBLE

config NONSECURE0_REGION
	string
	default "NON-SECURE0" if $(dt_nodelabel_enabled,ns)
	help
	    Provide config Non-Secure region

rsource "*/Kconfig.soc"
