# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_ENSEMBLE
rsource "*/Kconfig.defconfig"
endif # SOC_FAMILY_ENSEMBLE

config SD_BUFFER_SIZE
	default 4096 if SDIO_STACK && SDIO_USE_INTERNAL_BUFFER
	default 512

config SD_BUFFER_SECTION
	string "Alif Non Secure Section Name for card internal buffer"
	default ".alif_ns"

config SDHC_DESCRIPTOR_SECTION
	string "Alif Non Secure Section Name for SDHC Descriptor"
	default ".alif_ns"

config SDHC_DWC_DMA_ADDR_TRANSLATE
	default y

config SDIO_USE_INTERNAL_BUFFER
	default y

config I2C_DW_IC_CLK_FREQ_OPTIMIZATION
	default y if I2C_DW
