# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_B1
	bool
	select SOC_FAMILY_BALLETTO

config SOC_SERIES
	default "b1" if SOC_SERIES_B1

config SOC_AB1C1F4M51820HH0
	bool
	select SOC_SERIES_B1
	help
	  Alif Balletto B1 CSP

config SOC_AB1C1F4M51820HH0_RTSS_HE
	bool
	select SOC_AB1C1F4M51820HH0

config SOC_AB1C1F4M51820PH0
	bool
	select SOC_SERIES_B1
	help
	  Alif Balletto B1 BGA

config SOC_AB1C1F4M51820PH0_RTSS_HE
	bool
	select SOC_AB1C1F4M51820PH0

config SOC_AB1C1F1M41820HH0
	bool
	select SOC_SERIES_B1
	help
	  Alif Balletto B1 CSP

config SOC_AB1C1F1M41820HH0_RTSS_HE
	bool
	select SOC_AB1C1F1M41820HH0

config SOC_AB1C1F1M41820PH0
	bool
	select SOC_SERIES_B1
	help
	  Alif Balletto B1 BGA

config SOC_AB1C1F1M41820PH0_RTSS_HE
	bool
	select SOC_AB1C1F1M41820PH0

config SOC
	default "ab1c1f4m51820hh0" if SOC_AB1C1F4M51820HH0
	default "ab1c1f4m51820ph0" if SOC_AB1C1F4M51820PH0
	default "ab1c1f1m41820hh0" if SOC_AB1C1F1M41820HH0
	default "ab1c1f1m41820ph0" if SOC_AB1C1F1M41820PH0
