# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

if SOC_AB1C1F4M51820PH0_RTSS_HE

config NUM_IRQS
	default 480

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 160000000

endif # SOC_AB1C1F4M51820PH0_RTSS_HE
