# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_AB1C1F4M51820HH0_RTSS_HE
	select RTSS_HE

config SOC_AB1C1F4M51820PH0_RTSS_HE
	select RTSS_HE

config SOC_AB1C1F1M41820HH0_RTSS_HE
	select RTSS_HE

config SOC_AB1C1F1M41820PH0_RTSS_HE
	select RTSS_HE
