# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_E7
	bool
	select SOC_FAMILY_ENSEMBLE

config SOC_SERIES
	default "e7" if SOC_SERIES_E7

config SOC_AE722F80F55D5XX
	bool
	select SOC_SERIES_E7
	help
	  Alif Ensemble E7

config SOC_AE722F80F55D5XX_RTSS_HE
	bool
	select SOC_AE722F80F55D5XX

config SOC_AE722F80F55D5XX_RTSS_HP
	bool
	select SOC_AE722F80F55D5XX

config SOC
	default "ae722f80f55d5xx" if SOC_AE722F80F55D5XX
