# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_ALIF_B1_DK
	select SOC_AB1C1F4M51820HH_RTSS_HE if BOARD_ALIF_B1_DK_AB1C1F4M51820HH_RTSS_HE
if BOARD_ALIF_B1_DK

config UART_DMA_ENABLE
	bool
endif
