# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_E1C
	bool
	select SOC_FAMILY_ENSEMBLE

config SOC_SERIES
	default "e1c" if SOC_SERIES_E1C

config SOC_AE1C1F4051920HH
	bool
	select SOC_SERIES_E1C
	help
	  Alif Ensemble E1C

config SOC_AE1C1F4051920HH_RTSS_HE
	bool
	select SOC_AE1C1F4051920HH

config SOC
	default "ae1c1f4051920hh" if SOC_AE1C1F4051920HH
