# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0
config MRAM_FLASH_ALIF
	bool "MRAM flash driver for Alif SoCs"
	default y
	depends on DT_HAS_ALIF_MRAM_FLASH_CONTROLLER_ENABLED
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_NO_EXPLICIT_ERASE
	help
	 Enables MRAM flash driver on Alif SoCs.

menuconfig OSPI_FLASH
	bool "OSPI Flash support for Alif SoCs"
	depends on (DT_HAS_MXICY_MX66UW_FLASH_ENABLED || DT_HAS_ISSI_XSPI_FLASH_CONTROLLER_ENABLED)
	default y
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select EVENTS
	select FLASH_HAS_EXPLICIT_ERASE
	select USE_ALIF_HAL_OSPI
	help
	  Enable OSPI flash support on Alif SoCs.
	  Select the flash vendor below.

config OSPI_FLASH_MX66UW
	bool "Macronix MX66UW (1G/2G)"
	depends on DT_HAS_MXICY_MX66UW_FLASH_ENABLED
	default y
	help
	  Enables Macronix MX66UW flash driver.

config OSPI_FLASH_IS25WX
	bool "ISSI IS25WX (128/256/512)"
	depends on DT_HAS_ISSI_XSPI_FLASH_CONTROLLER_ENABLED
	default y
	help
	  Enables ISSI IS25WX flash driver.

if OSPI_FLASH

config OSPI
	bool "OSPI Controller Enabled"
	default y
	help
	  Indicate OSPI Controller Enabled.

config FLASH_ADDRESS_IN_SINGLE_FIFO_LOCATION
	bool "Flash Setup with Single Address mode"
	default y if SOC_SERIES_E8 || SOC_SERIES_E4 || \
		     SOC_SERIES_E1C || SOC_SERIES_B1
	help
	  Enables Single Address mode while setting up OSPI flash.
	  Required only for specific Alif SoC families.

config FLASH_PREPARE_CMD_LEN
	int "Number of 32-bit buffers for prepare command"
	default 3 if FLASH_ADDRESS_IN_SINGLE_FIFO_LOCATION
	default 5
	help
	  Configure prepare command length.

config ALIF_OSPI_FLASH_XIP
	bool "Enable XiP mode"
	help
	  Enable XiP mode of Flash at initialization.

endif # OSPI_FLASH
