/* Copyright (c) 2025 Alif Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv8.1-m.dtsi>
#include <mem.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/timer/alif_utimer.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

&{/soc} {
	clockctrl: clock-controller@4903f000 {
		compatible = "alif,clockctrl";
		reg = <0x4903F000 0xB0
			0x4902F000 0xBC
			0x1A604000 0x44
			0x1A609000 0x14
			0x43007000 0x2C
			0x400F0000 0x14>;
		reg-names = "clkctl_per_mst",
			    "clkctl_per_slv",
			    "aon",
			    "vbat",
			    "m55he_cfg",
			    "m55hp_cfg";
		#clock-cells = <1>;
		status = "okay";
	};

	mram_flash: mram_flash@80000000 {
		compatible = "alif,mram-flash-controller";
		#address-cells = <1>;
		#size-cells = <1>;

		mram_storage: mram_storage@80000000 {
			compatible = "soc-nv-flash";
			erase-block-size = <1024>;
			write-block-size = <16>;
		};
	};

	sram0: sram@2000000 {
		compatible = "zephyr,memory-region","mmio-sram";
		zephyr,memory-region = "SRAM0";
	};

	ns: ns@200d0000 {
		compatible = "zephyr,memory-region";
		/* Ensemble TGU Block Size(16KB) Aligned always */
		reg = <0x200d0000 DT_SIZE_K(176)>;
		zephyr,memory-region = "NON_SECURE0";
		status = "disabled";
	};

	host_peripheral: host_peripheral@1a000000 {
		compatible = "zephyr,memory-region";
		zephyr,memory-region = "HOST_PERIPHERAL";
		reg = <0x1A000000 DT_SIZE_K(16384)>;
	};

	pinctrl: pin-controller@1a603000 {
		compatible = "alif,pinctrl";
		reg = <0x1A603000 0x00001000>, <0x42007000 0x00001000>;
		reg-names = "pinctrl", "lpgpio_pinctrl";
	};

	rtc0: lprtc@42000000 {
		compatible = "snps,dw-apb-rtc";
		reg = <0x42000000 0x1000>;
		interrupts = <58 0>;
		clock-frequency = <32768>;
		prescaler = <0>;
		load-value = <0>;
		status = "disabled";
	};

	sdhc: sdhc@48102000 {
		compatible = "intel,emmc-host";
		reg = <0x48102000 0xF70>;
		interrupt-parent = <&nvic>;
		interrupts = <102 3>;
		max-bus-freq = <50000000U>;
		min-bus-freq = <400000>;
		power-delay-ms = <500>;
		pinctrl-0 = <&pinctrl_sdmmc>;
		pinctrl-names = "default";
		mmc {
			compatible = "zephyr,sdmmc-disk";
			bus-width = <4>;
			status = "disabled";
		};
		status = "disabled";
	};

	peripheral@40000000 {
		#address-cells = < 0x1 >;
		#size-cells = < 0x1 >;
		ranges = < 0x0 0x40000000 0x2000000 >;

		seservice0r: mhu@40040000 {
			compatible = "arm,mhuv2";
			reg = < 0x40040000 0x1000 >;
			interrupts = < 37 0 >;
			interrupt-names = "rx";
		};

		seservice0s: mhu@40050000 {
			compatible = "arm,mhuv2";
			reg = < 0x40050000 0x1000 >;
			interrupts = < 38 0 >;
			interrupt-names = "tx";
		};

		seservice1r: mhu@40060000 {
			compatible = "arm,mhuv2";
			reg = < 0x40060000 0x1000 >;
			interrupts = < 39 0 >;
			interrupt-names = "rx";
		};

		seservice1s: mhu@40070000 {
			compatible = "arm,mhuv2";
			reg = < 0x40070000 0x1000 >;
			interrupts = < 40 0 >;
			interrupt-names = "tx";
		};

		rtsshp_rtsshe_mhu0_r: mhu@40080000 {
			compatible = "arm,mhuv2";
			reg = < 0x40080000 0x1000 >;
			interrupts = < 41 0 >;
			interrupt-names = "rx";
		};

		rtsshe_rtsshp_mhu0_s: mhu@40090000 {
			compatible = "arm,mhuv2";
			reg = < 0x40090000 0x1000 >;
			interrupts = < 42 0 >;
			interrupt-names = "tx";
		};

		rtsshp_rtsshe_mhu1_r: mhu@400a0000 {
			compatible = "arm,mhuv2";
			reg = < 0x400A0000 0x1000 >;
			interrupts = < 43 0 >;
			interrupt-names = "rx";
		};

		rtsshe_rtsshp_mhu1_s: mhu@400b0000 {
			compatible = "arm,mhuv2";
			reg = < 0x400B0000 0x1000 >;
			interrupts = < 44 0 >;
			interrupt-names = "tx";
		};
	};

	hwsem0: hwsem@4902e000 {
		compatible = "alif,hwsem";
		reg = <0x4902E000 0x10>;
		interrupts = < 105 0 >;
	};

	hwsem1: hwsem@4902e010 {
		compatible = "alif,hwsem";
		reg = <0x4902E010 0x10>;
		interrupts = < 106 0 >;
	};

	hwsem2: hwsem@4902e020 {
		compatible = "alif,hwsem";
		reg = <0x4902E020 0x10>;
		interrupts = < 107 0 >;
	};

	hwsem3: hwsem@4902e030 {
		compatible = "alif,hwsem";
		reg = <0x4902E030 0x10>;
		interrupts = < 108 0 >;
	};

	hwsem4: hwsem@4902e040 {
		compatible = "alif,hwsem";
		reg = <0x4902E040 0x10>;
		interrupts = < 109 0 >;
	};

	hwsem5: hwsem@4902e050 {
		compatible = "alif,hwsem";
		reg = <0x4902E050 0x10>;
		interrupts = < 110 0 >;
	};

	hwsem6: hwsem@4902e060 {
		compatible = "alif,hwsem";
		reg = <0x4902E060 0x10>;
		interrupts = < 111 0 >;
	};

	hwsem7: hwsem@4902e070 {
		compatible = "alif,hwsem";
		reg = <0x4902E070 0x10>;
		interrupts = < 112 0 >;
	};

	hwsem8: hwsem@4902e080 {
		compatible = "alif,hwsem";
		reg = <0x4902E080 0x10>;
		interrupts = < 113 0 >;
	};

	hwsem9: hwsem@4902e090 {
		compatible = "alif,hwsem";
		reg = <0x4902E090 0x10>;
		interrupts = < 114 0 >;
	};

	hwsem10: hwsem@4902e0a0 {
		compatible = "alif,hwsem";
		reg = <0x4902E0A0 0x10>;
		interrupts = < 115 0 >;
	};

	hwsem11: hwsem@4902e0b0 {
		compatible = "alif,hwsem";
		reg = <0x4902E0B0 0x10>;
		interrupts = < 116 0 >;
	};

	hwsem12: hwsem@4902e0c0 {
		compatible = "alif,hwsem";
		reg = <0x4902E0C0 0x10>;
		interrupts = < 117 0 >;
	};

	hwsem13: hwsem@4902e0d0 {
		compatible = "alif,hwsem";
		reg = <0x4902E0D0 0x10>;
		interrupts = < 118 0 >;
	};

	hwsem14: hwsem@4902e0e0 {
		compatible = "alif,hwsem";
		reg = <0x4902E0E0 0x10>;
		interrupts = < 119 0 >;
	};

	hwsem15: hwsem@4902e0f0 {
		compatible = "alif,hwsem";
		reg = <0x4902E0F0 0x10>;
		interrupts = < 120 0 >;
	};

	uart0: uart@49018000 {
		compatible = "ns16550";
		reg = <0x49018000 0x100>;
		clocks = <&clockctrl ALIF_UART0_SYST_PCLK>;
		interrupts = <124 0>;
		reg-shift = <2>;
		current-speed = <115200>;
		pinctrl-0 = < &pinctrl_uart0 >;
		pinctrl-names = "default";
		fifo-size = <32>;
		status = "disabled";
	};

	uart1: uart@49019000 {
		compatible = "ns16550";
		reg = <0x49019000 0x100>;
		clocks = <&clockctrl ALIF_UART1_SYST_PCLK>;
		interrupts = <125 0>;
		reg-shift = <2>;
		current-speed = <115200>;
		pinctrl-0 = < &pinctrl_uart1 >;
		pinctrl-names = "default";
		fifo-size = <32>;
		status = "disabled";
	};

	uart2: uart@4901a000 {
		compatible = "ns16550";
		reg = <0x4901a000 0x100>;
		clocks = <&clockctrl ALIF_UART2_SYST_PCLK>;
		interrupts = <126 0>;
		reg-shift = <2>;
		current-speed = <115200>;
		pinctrl-0 = < &pinctrl_uart2 >;
		pinctrl-names = "default";
		fifo-size = <32>;
		status = "disabled";
	};

	uart3: uart@4901b000 {
		compatible = "ns16550";
		reg = <0x4901b000 0x100>;
		clocks = <&clockctrl ALIF_UART3_SYST_PCLK>;
		interrupts = <127 0>;
		reg-shift = <2>;
		current-speed = <115200>;
		pinctrl-0 = < &pinctrl_uart3 >;
		pinctrl-names = "default";
		fifo-size = <32>;
		status = "disabled";
	};

	uart4: uart@4901c000 {
		compatible = "ns16550";
		reg = <0x4901c000 0x100>;
		clocks = <&clockctrl ALIF_UART4_SYST_PCLK>;
		interrupts = <128 0>;
		reg-shift = <2>;
		current-speed = <115200>;
		pinctrl-0 = < &pinctrl_uart4 >;
		pinctrl-names = "default";
		fifo-size = <32>;
		status = "disabled";
	};

	uart5: uart@4901d000 {
		compatible = "ns16550";
		reg = <0x4901d000 0x100>;
		clocks = <&clockctrl ALIF_UART5_SYST_PCLK>;
		interrupts = <129 0>;
		reg-shift = <2>;
		current-speed = <115200>;
		pinctrl-0 = < &pinctrl_uart5 >;
		pinctrl-names = "default";
		fifo-size = <32>;
		status = "disabled";
	};

	spi0: spi@48103000 {
		dwc-ssi;
		compatible = "snps,designware-spi";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = < &pinctrl_spi0 >;
		pinctrl-names = "default";
		reg = <0x48103000 0x1000>;
		interrupt-parent = <&nvic>;
		interrupts = <137 0>;
		clocks = <&syst_hclk>;
		fifo-depth = <16>;
		max-xfer-size = <32>;
		rx-delay = <4>;
		status = "disabled";
	};

	spi1: spi@48104000 {
		dwc-ssi;
		compatible = "snps,designware-spi";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = < &pinctrl_spi1 >;
		pinctrl-names = "default";
		reg = <0x48104000 0x1000>;
		interrupt-parent = <&nvic>;
		interrupts = <138 0>;
		clocks = <&syst_hclk>;
		fifo-depth = <16>;
		max-xfer-size = <32>;
		rx-delay = <4>;
		status = "disabled";
	};

	spi2: spi@48105000 {
		dwc-ssi;
		compatible = "snps,designware-spi";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = < &pinctrl_spi2 >;
		pinctrl-names = "default";
		reg = <0x48105000 0x1000>;
		interrupt-parent = <&nvic>;
		interrupts = <139 0>;
		clocks = <&syst_hclk>;
		fifo-depth = <16>;
		max-xfer-size = <32>;
		rx-delay = <4>;
		status = "disabled";
	};

	spi3: spi@48106000 {
		dwc-ssi;
		compatible = "snps,designware-spi";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = < &pinctrl_spi3 >;
		pinctrl-names = "default";
		reg = <0x48106000 0x1000>;
		interrupt-parent = <&nvic>;
		interrupts = <140 0>;
		clocks = <&syst_hclk>;
		fifo-depth = <16>;
		max-xfer-size = <32>;
		rx-delay = <4>;
		status = "disabled";
	};

	dma0: dma0@49080000 {
		compatible = "arm,dma-pl330";
		reg = <0x49080000 0x1000>;
		reg-names = "pl330_regs";
		dma-channels = <4>;
		#dma-cells = <2>;
		interrupt-parent = <&nvic>;
		interrupts = <299 0>, <300 0>, <301 0>, <302 0>, <331 0>;
		interrupt-names = "channel0", "channel1",
						  "channel2", "channel3",
						  "abort";
		status = "disabled";
	};
	timer0: timer@42001000 {
		compatible = "snps,dw-timers";
		reg = <0x42001000 0x14>;
		interrupts = <60 0>;
		clocks = <&clockctrl ALIF_LPTIMER0_S32K_CLK>;
		status = "disabled";
	};

	timer1: timer@42001014 {
		compatible = "snps,dw-timers";
		reg = <0x42001014 0x14>;
		interrupts = <61 0>;
		clocks = <&clockctrl ALIF_LPTIMER1_S32K_CLK>;
		status = "disabled";
	};

	timer2: timer@42001028 {
		compatible = "snps,dw-timers";
		reg = <0x42001028 0x14>;
		interrupts = <62 0>;
		clocks = <&clockctrl ALIF_LPTIMER2_S32K_CLK>;
		status = "disabled";
	};

	timer3: timer@4200103c {
		compatible = "snps,dw-timers";
		reg = <0x4200103C 0x14>;
		interrupts = <63 0>;
		clocks = <&clockctrl ALIF_LPTIMER3_S32K_CLK>;
		status = "disabled";
	};

	utimer0: utimer@48001000 {
		compatible = "alif,utimer";
		reg = <0x48001000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <377 3>, <378 3>,
				<379 3>, <380 3>, <381 3>,
				<382 3>, <383 3>, <384 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <0>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm0 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer1: utimer@48002000 {
		compatible = "alif,utimer";
		reg = <0x48002000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <385 3>, <386 3>,
				<387 3>, <388 3>, <389 3>,
				<390 3>, <391 3>, <392 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <1>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm1 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer2: utimer@48003000 {
		compatible = "alif,utimer";
		reg = <0x48003000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <393 3>, <394 3>,
				<395 3>, <396 3>, <397 3>,
				<398 3>, <399 3>, <400 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <2>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm2 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer3: utimer@48004000 {
		compatible = "alif,utimer";
		reg = <0x48004000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <401 3>, <402 3>,
				<403 3>, <404 3>, <405 3>,
				<406 3>, <407 3>, <408 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <3>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm3 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer4: utimer@48005000 {
		compatible = "alif,utimer";
		reg = <0x48005000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <409 3>, <410 3>,
				<411 3>, <412 3>, <413 3>,
				<414 3>, <415 3>, <416 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <4>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm4 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer5: utimer@48006000 {
		compatible = "alif,utimer";
		reg = <0x48006000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <417 3>, <418 3>,
				<419 3>, <420 3>, <421 3>,
				<422 3>, <423 3>, <424 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <5>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm5 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer6: utimer@48007000 {
		compatible = "alif,utimer";
		reg = <0x48007000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <425 3>, <426 3>,
				<427 3>, <428 3>, <429 3>,
				<430 3>, <431 3>, <432 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <6>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm6 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer7: utimer@48008000 {
		compatible = "alif,utimer";
		reg = <0x48008000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <433 3>, <434 3>,
				<435 3>, <436 3>, <437 3>,
				<438 3>, <439 3>, <440 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <7>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm7 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer8: utimer@48009000 {
		compatible = "alif,utimer";
		reg = <0x48009000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <441 3>, <442 3>,
				<443 3>, <444 3>, <445 3>,
				<446 3>, <447 3>, <448 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <8>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm8 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer9: utimer@4800a000 {
		compatible = "alif,utimer";
		reg = <0x4800A000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <449 3>, <450 3>,
				<451 3>, <452 3>, <453 3>,
				<454 3>, <455 3>, <456 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <9>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm9 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer10: utimer@4800b000 {
		compatible = "alif,utimer";
		reg = <0x4800B000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <457 3>, <458 3>,
				<459 3>, <460 3>, <461 3>,
				<462 3>, <463 3>, <464 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <10>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm10 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	utimer11: utimer@4800c000 {
		compatible = "alif,utimer";
		reg = <0x4800C000 0x1000 0x48000000 0x24>;
		reg-names = "timer", "global";
		interrupts = <465 3>, <466 3>,
				<467 3>, <468 3>, <469 3>,
				<470 3>, <471 3>, <472 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <11>;
		clocks = <&clockctrl ALIF_UTIMER_CLK>;
		counter-direction = < ALIF_UTIMER_COUNTER_DIRECTION_UP >;
		status = "disabled";

		counter {
			compatible = "alif,utimer-counter";
			status = "disabled";
		};

		pwm11 {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,utimer-qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	dac0: dac0@49028000 {
		compatible = "alif,dac";
		reg = <0x49028000 0x1000>,
			<0x49023000 0x100>,
			<0x1A60A000 0x100>,
			<0x4902B000 0x100>;
		reg-names = "dac_reg","cmp_reg","vbat_reg","adc_vref";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dac0>;
		output_current = "DAC_1200UA_OUT_CUR";
		capacitance = "DAC_8PF_CAPACITANCE";
		status = "disabled";
	};

	dac1: dac1@49029000 {
		compatible = "alif,dac";
		reg = <0x49029000 0x1000>,
			<0x49023000 0x100>,
			<0x1A60A000 0x100>,
			<0x4902B000 0x100>;
		reg-names = "dac_reg","cmp_reg","vbat_reg","adc_vref";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_dac1>;
		output_current = "DAC_1200UA_OUT_CUR";
		capacitance = "DAC_8PF_CAPACITANCE";
		status = "disabled";
	};

	gpio0: gpio@49000000 {
		compatible = "snps,designware-gpio";
		reg = <0x49000000 0x1000>;
		ngpios = <8>;
		interrupts =	<179 0>, <180 0>,
				<181 0>, <182 0>,
				<183 0>, <184 0>,
				<185 0>, <186 0>;
		pinctrl-0 = < &pinctrl_gpio0 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio1: gpio@49001000 {
		compatible = "snps,designware-gpio";
		reg = <0x49001000 0x1000>;
		ngpios = <8>;
		interrupts =	<187 0>, <188 0>,
				<189 0>, <190 0>,
				<191 0>, <192 0>,
				<193 0>, <194 0>;
		pinctrl-0 = < &pinctrl_gpio1 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio2: gpio@49002000 {
		compatible = "snps,designware-gpio";
		reg = <0x49002000 0x1000>;
		ngpios = <8>;
		interrupts =	<195 0>, <196 0>,
				<197 0>, <198 0>,
				<199 0>, <200 0>,
				<201 0>, <202 0>;
		pinctrl-0 = < &pinctrl_gpio2 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio3: gpio@49003000 {
		compatible = "snps,designware-gpio";
		reg = <0x49003000 0x1000>;
		ngpios = <8>;
		interrupts =	<203 0>, <204 0>,
				<205 0>, <206 0>,
				<207 0>, <208 0>,
				<209 0>, <210 0>;
		pinctrl-0 = < &pinctrl_gpio3 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio4: gpio@49004000 {
		compatible = "snps,designware-gpio";
		reg = <0x49004000 0x1000>;
		ngpios = <8>;
		interrupts =	<211 0>, <212 0>,
				<213 0>, <214 0>,
				<215 0>, <216 0>,
				<217 0>, <218 0>;
		pinctrl-0 = < &pinctrl_gpio4 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio5: gpio@49005000 {
		compatible = "snps,designware-gpio";
		reg = <0x49005000 0x1000>;
		ngpios = <8>;
		interrupts =	<219 0>, <220 0>,
				<221 0>, <222 0>,
				<223 0>, <224 0>,
				<225 0>, <226 0>;
		pinctrl-0 = < &pinctrl_gpio5 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio6: gpio@49006000 {
		compatible = "snps,designware-gpio";
		reg = <0x49006000 0x1000>;
		ngpios = <8>;
		interrupts =	<227 0>, <228 0>,
				<229 0>, <230 0>,
				<231 0>, <232 0>,
				<233 0>, <234 0>;
		pinctrl-0 = < &pinctrl_gpio6 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio7: gpio@49007000 {
		compatible = "snps,designware-gpio";
		reg = <0x49007000 0x1000>;
		ngpios = <8>;
		interrupts =	<235 0>, <236 0>,
				<237 0>, <238 0>,
				<239 0>, <240 0>,
				<241 0>, <242 0>;
		pinctrl-0 = < &pinctrl_gpio7 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio8: gpio@49008000 {
		compatible = "snps,designware-gpio";
		reg = <0x49008000 0x1000>;
		ngpios = <8>;
		interrupts =	<243 0>, <244 0>,
				<245 0>, <246 0>,
				<247 0>, <248 0>,
				<249 0>, <250 0>;
		pinctrl-0 = < &pinctrl_gpio8 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio9: gpio@49009000 {
		compatible = "snps,designware-gpio";
		reg = <0x49009000 0x1000>;
		ngpios = <8>;
		interrupts = <251 0>, <252 0>,
			     <253 0>, <254 0>,
			     <255 0>, <256 0>,
			     <257 0>, <258 0>;
		pinctrl-0 = < &pinctrl_gpio9 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	lpgpio: gpio@42002000 {
		compatible = "snps,designware-gpio";
		reg = <0x42002000 0x1000>;
		ngpios = <8>;
		interrupts = <171 0>, <172 0>,
			     <173 0>, <174 0>,
			     <175 0>, <176 0>,
			     <177 0>, <178 0>;
		pinctrl-0 = < &pinctrl_lpgpio >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	crc0: crc0@48107000 {
		compatible = "alif,alif-crc";
		reg = <0x48107000 0x1000>;
		crc_algo = "CRC_8_BIT_SIZE";
		status = "disabled";
	};

	crc1: crc1@48108000 {
		compatible = "alif,alif-crc";
		reg = <0x48108000 0x1000>;
		crc_algo = "CRC_8_BIT_SIZE";
		status = "disabled";
	};

	pdm: pdm@4902d000 {
		compatible = "alif,alif-pdm";
		reg = <0x4902d000 0x1000>;
		interrupts = <145 0>,
			     <146 0>,
			     <147 0>;
		interrupt-names = "warning_intr",
				  "error_intr",
				  "audio_det_intr";
		pinctrl-0 = <&pinctrl_pdm0>;
		pinctrl-names = "default";
		clocks = <&clockctrl ALIF_PDM_76M8_CLK>;
		fifo_watermark = <5>;
		bypass_iir_filter = <1>;
		status = "disabled";
	};

	i2c0: i2c0@49010000 {
		compatible = "snps,designware-i2c";
		clock-frequency = <I2C_BITRATE_STANDARD>;
		/*
		 * For Standard  speed LCNT=0 and HCNT=0
		 * For Fast      speed LCNT=50 and HCNT=30
		 * For Fast Plus speed LCNT=35 and HCNT=5
		 */
		hcnt-offset = <0>;
		lcnt-offset = <0>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x49010000 0x1000>;
		pinctrl-0 = < &pinctrl_i2c0 >;
		pinctrl-names = "default";
		interrupt-parent = <&nvic>;
		interrupts = <132 3>;
		tx_threshold = <16>;
		rx_threshold = <0>;
		status = "disabled";
	};

	i2c1: i2c1@49011000 {
		compatible = "snps,designware-i2c";
		clock-frequency = <I2C_BITRATE_STANDARD>;
		/*
		 * For Standard  speed LCNT=0 and HCNT=0
		 * For Fast      speed LCNT=50 and HCNT=30
		 * For Fast Plus speed LCNT=35 and HCNT=5
		 */
		hcnt-offset = <0>;
		lcnt-offset = <0>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x49011000 0x1000>;
		pinctrl-0 = < &pinctrl_i2c1 >;
		pinctrl-names = "default";
		interrupt-parent = <&nvic>;
		interrupts = <133 3>;
		tx_threshold = <16>;
		rx_threshold = <0>;
		status = "disabled";
	};

	lpi2c0: lpi2c0@43009000 {
		compatible = "alif,lpi2c";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lpi2c0>;
		reg = <0x43009000 0x100>;
		interrupts = <47 0>;
		status = "disabled";
	};

	i2s0: i2s0@49014000 {
		compatible = "snps,designware-i2s";
		clock-frequency = <76800000>;
		driver_instance	= "I2S_INSTANCE_0";
		reg = <0x49014000 0x1000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2s0>;
		interrupts = <141 0>;
		status = "disabled";
	};

	i2s1: i2s1@49015000 {
		compatible = "snps,designware-i2s";
		clock-frequency = <76800000>;
		driver_instance	= "I2S_INSTANCE_1";
		reg = <0x49015000 0x1000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2s1>;
		interrupts = <142 0>;
		status = "disabled";
	};

	i2s4: lpi2s@43001000 {
		compatible = "snps,designware-i2s";
		clock-frequency = <76800000>;
		driver_instance	= "I2S_INSTANCE_4";
		reg = <0x43001000 0x1000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lpi2s>;
		interrupts = <48 0>;
		status = "disabled";
	};

	ospi0: ospi0@83000000 {
		compatible = "snps,designware-ospi";
		reg = <0x83000000 0x1000>;
		pinctrl-0 = <&pinctrl_ospi0>;
		pinctrl-names = "default";
		interrupt-parent = <&nvic>;
		interrupts = <96 0>;
		aes-reg = <0x83001000 0x100>;
		cs-pin = <0>;
		status = "disabled";
	};
};

&{/} {
	se_service: se_service {
		compatible = "alif,secure-enclave-services";
		mhuv2-send-node = <&seservice0s>;
		mhuv2-recv-node = <&seservice0r>;
		status = "okay";
	};

	rng: rng {
		status = "okay";
		compatible = "alif,secure-enclave-trng";
	};

	clocks {
		lfrc: lfrc {
			compatible = "fixed-clock";
			clock-frequency = <32000>;
			status = "okay";
			#clock-cells = <0>;
		};

		lfxo: lfxo {
			compatible = "fixed-clock";
			clock-frequency = <32768>;
			status = "okay";
			#clock-cells = <0>;
		};

		hfrc: hfrc {
			compatible = "fixed-clock";
			clock-frequency = <76800000>;
			status = "okay";
			#clock-cells = <0>;
		};

		hfxo: hfxo {
			compatible = "fixed-clock";
			clock-frequency = <38400000>;
			status = "okay";
			#clock-cells = <0>;
		};

		pll_clk1: pll_clk1 {
			compatible = "alif,clock";
			clock-frequency = <800000000>;
			status = "okay";
			#clock-cells = <0>;
		};

		syst_aclk: axi_clk {
			compatible = "alif,clock";
			clock-frequency = <400000000>;
			status = "okay";
			#clock-cells = <0>;
		};

		syst_hclk: ahb_clk {
			compatible = "alif,clock";
			clock-frequency = <200000000>;
			status = "okay";
			#clock-cells = <0>;
		};
	};

	chosen {
		zephyr,entropy = &rng;
		zephyr,flash-controller = &mram_flash;
	};
};
