/* Copyright (c) 2025 Alif Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/clock/alif_ensemble_clocks.h>
#include "e1.dtsi"

&{/soc} {
	sram1: sram@8000000 {
		compatible = "zephyr,memory-region","mmio-sram";
		zephyr,memory-region = "SRAM1";
	};

	uart6: uart@4901e000 {
		compatible = "ns16550";
		reg = <0x4901e000 0x100>;
		clocks = <&clockctrl ALIF_UART6_SYST_PCLK>;
		interrupts = <130 0>;
		reg-shift = <2>;
		current-speed = <115200>;
		pinctrl-0 = < &pinctrl_uart6 >;
		pinctrl-names = "default";
		fifo-size = <32>;
		status = "disabled";
	};
	uart7: uart@4901f000 {
		compatible = "ns16550";
		reg = <0x4901f000 0x100>;
		clocks = <&clockctrl ALIF_UART7_SYST_PCLK>;
		interrupts = <131 0>;
		reg-shift = <2>;
		current-speed = <115200>;
		pinctrl-0 = < &pinctrl_uart7 >;
		pinctrl-names = "default";
		fifo-size = <32>;
		status = "disabled";
	};

	gpio10: gpio@4900a000 {
		compatible = "snps,designware-gpio";
		reg = <0x4900A000 0x1000>;
		ngpios = <8>;
		interrupts = <259 0>, <260 0>,
			     <261 0>, <262 0>,
			     <263 0>, <264 0>,
			     <265 0>, <266 0>;
		pinctrl-0 = < &pinctrl_gpio10 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio11: gpio@4900b000 {
		compatible = "snps,designware-gpio";
		reg = <0x4900B000 0x1000>;
		ngpios = <8>;
		interrupts = <267 0>, <268 0>,
			     <269 0>, <270 0>,
			     <271 0>, <272 0>,
			     <273 0>, <274 0>;
		pinctrl-0 = < &pinctrl_gpio11 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio12: gpio@4900c000 {
		compatible = "snps,designware-gpio";
		reg = <0x4900C000 0x1000>;
		ngpios = <8>;
		interrupts = <275 0>, <276 0>,
			     <277 0>, <278 0>,
			     <279 0>, <280 0>,
			     <281 0>, <282 0>;
		pinctrl-0 = < &pinctrl_gpio12 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio13: gpio@4900d000 {
		compatible = "snps,designware-gpio";
		reg = <0x4900D000 0x1000>;
		ngpios = <8>;
		interrupts = <283 0>, <284 0>,
			     <285 0>, <286 0>,
			     <287 0>, <288 0>,
			     <289 0>, <290 0>;
		pinctrl-0 = < &pinctrl_gpio13 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio14: gpio@4900e000 {
		compatible = "snps,designware-gpio";
		reg = <0x4900E000 0x1000>;
		ngpios = <8>;
		interrupts = <291 0>, <292 0>,
			     <293 0>, <294 0>,
			     <295 0>, <296 0>,
			     <297 0>, <298 0>;
		pinctrl-0 = < &pinctrl_gpio14 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	i2s2: i2s2@49016000 {
		compatible = "snps,designware-i2s";
		clock-frequency = <76800000>;
		driver_instance	= "I2S_INSTANCE_2";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2s2>;
		reg = <0x49016000 0x1000>;
		interrupts = <143 0>;
		status = "disabled";
	};

	i2s3: i2s3@49017000 {
		compatible = "snps,designware-i2s";
		clock-frequency = <76800000>;
		driver_instance	= "I2S_INSTANCE_3";
		reg = <0x49017000 0x1000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2s3>;
		interrupts = <144 0>;
		status = "disabled";
	};

};
