/* Copyright (c) 2025 Alif Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "e3_e5_e7.dtsi"

/* sram1 is 4MB */
&sram1 {
	reg = <0x08000000 DT_SIZE_K(4096)>;
};

&{/soc} {

	gpio16: gpio@4300a000 {
		compatible = "snps,designware-gpio";
		reg = <0x4300A000 0x1000>;
		ngpios = <8>;
		interrupts = <476 0>;
		pinctrl-0 = < &pinctrl_gpio16 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	gpio17: gpio@4300b000 {
		compatible = "snps,designware-gpio";
		reg = <0x4300B000 0x1000>;
		ngpios = <8>;
		interrupts = <477 0>;
		pinctrl-0 = < &pinctrl_gpio17 >;
		pinctrl-names = "default";
		gpio-controller;
		#gpio-cells = <2>;
		status = "disabled";
	};

	lpi2c1: lpi2c1@43005000 {
		compatible = "snps,designware-i2c";
		clock-frequency = <I2C_BITRATE_STANDARD>;
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x43005000 0x1000>;
		clocks    = <&clockctrl ALIF_LPI2C1_CLK>;
		pinctrl-0 = <&pinctrl_lpi2c1>;
		pinctrl-names = "default";
		interrupt-parent = <&nvic>;
		interrupts = <51 3>;
		tx_threshold = <16>;
		rx_threshold = <0>;
		status = "disabled";
	};

	lputimer0: lputimer@4300d000 {
		compatible = "alif,utimer";
		reg = <0x4300D000 0x1000 0x4300C000 0x24>;
		reg-names = "timer", "global";
		interrupts = <351 3>, <352 3>,
				<353 3>, <354 3>, <355 3>,
				<356 3>, <357 3>, <358 3>;
		interrupt-names = "comp_capt_a", "comp_capt_b",
				"comp_a_buf1", "comp_a_buf2", "comp_b_buf1",
				"comp_b_buf2", "underflow", "overflow";
		timer-id = <0>;
		clocks = <&clockctrl ALIF_LPUTIMER_CLK>;
		counter-direction = <ALIF_UTIMER_COUNTER_DIRECTION_UP>;
		status = "disabled";

		counter {
			compatible = "alif,counter";
			status = "disabled";
		};

		pwm {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	lputimer1: lputimer@4300e000 {
		compatible = "alif,utimer";
		reg = <0x4300E000 0x1000 0x4300C000 0x24>;
		reg-names = "timer", "global";
		timer-id = <1>;
		clocks = <&clockctrl ALIF_LPUTIMER_CLK>;
		counter-direction = <ALIF_UTIMER_COUNTER_DIRECTION_UP>;
		status = "disabled";

		pwm {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};

	lputimer2: lputimer@4300f000 {
		compatible = "alif,utimer";
		reg = <0x4300F000 0x1000 0x4300C000 0x24>;
		reg-names = "timer", "global";
		timer-id = <2>;
		clocks = <&clockctrl ALIF_LPUTIMER_CLK>;
		counter-direction = <ALIF_UTIMER_COUNTER_DIRECTION_UP>;
		status = "disabled";

		pwm {
			compatible = "alif,pwm";
			#pwm-cells = <3>;
			status = "disabled";
		};

		qdec {
			compatible = "alif,qdec";
			counts-per-revolution = <1000>;
			input-filter-enable;
			filter-prescaler = <16>;
			filter-taps = <1>;
			status = "disabled";
		};
	};
};
