/*
 * Copyright (c) 2025 Alif Semiconductor.
 * SPDX-License-Identifier: Apache-2.0
 */

ns: &ns {
	status = "okay";
};

/* GPIO6 is needed for SDHC card-detect */
&gpio6 {
	status = "okay";
};

/* GPIO7 is needed for SDHC reset */
&gpio7 {
	status = "okay";
};

sdhc: &sdhc {
	status = "okay";

	mmc {
		status = "okay";
		disk-name = "SD";
	};
};
