# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_E3
	bool
	select SOC_FAMILY_ENSEMBLE

config SOC_SERIES
	default "e3" if SOC_SERIES_E3

config SOC_AE302F80F55D5XX
	bool
	select SOC_SERIES_E3
	help
	  Alif Ensemble E3

config SOC_AE302F80F55D5XX_RTSS_HE
	bool
	select SOC_AE302F80F55D5XX

config SOC_AE302F80F55D5XX_RTSS_HP
	bool
	select SOC_AE302F80F55D5XX

config SOC
	default "ae302f80f55d5xx" if SOC_AE302F80F55D5XX
